@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  margin: 0;
  color:#333;
  background-color:#F9F9F9;
  font-family:'Inconsolata', 'Roboto', 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color:#828282;
  font-weight:bold;
  text-decoration:none
}
p{
  font-size:20px;
  line-height:32px
}

.header{
  overflow:hidden
}
.logo{
  font-size:50px;
  font-weight:700;
  color:#333;
  display:block
}

.menu{
  color:#828282;
  font-size:18px;
  margin:0px;
  margin-top:6px;
  padding:0px;
  list-style-type:none
}
.menu__entry{
  display:inline-block;
  margin-right:35px
}
.menu__entry:last-child{
  margin-right:0px
}
.menu__entry a{
  font-weight:400
}

.navigation{
  float:left
}

.page-title{
  margin-top:100px;
  margin-bottom:125px;
  text-align:center
}
.page-title__text{
  font-weight:700;
  font-size:70px
}
.page-title__subtitle{
  font-weight:400;
  font-size:22px;
  color:#828282
}

.social-links{
  float:right;
  font-size:24px;
  color:#828282;
  list-style-type:none
}
.social-links__entry{
  display:inline-block;
  margin-left:10px
}

.wrapper {
  max-width: 800px;
  margin: 100px auto;
}