@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

@font-face {
  font-family: 'SF Mono Regular';
  font-style: normal;
  font-weight: normal;
  src: local('SF Mono Regular'), url('assets/fonts/SFMonoRegular.woff') format('woff');
}
@font-face {
  font-family: 'SF Mono Regular';
  font-style: italic;
  font-weight: normal;
  src: local('SF Mono Regular'), url('assets/fonts/SFMonoRegularItalic.woff') format('woff');
}
@font-face {
  font-family: 'SF Mono';
  font-style: normal;
  font-weight: bold;
  src: local('SF Mono'), url('assets/fonts/SFMonoSemibold.woff') format('woff');
}
@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Sharp Sans'), url('assets/fonts/SFMonoRegular.woff') format('woff');
}
@font-face {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Sharp Sans'), url('assets/fonts/SharpSansBold.woff') format('woff');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: normal;
  src: local('IBM Plex Sans'), url('assets/fonts/IBMPlexSansRegular.woff') format('woff');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight:bold;
  src: local('IBM Plex Sans'), url('assets/fonts/IBMPlexSansSemiBold.woff') format('woff');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: bold;
  src: local('IBM Plex Sans'), url('assets/fonts/IBMPlexSansBold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Mono'), url('assets/fonts/RobotoMonoRegular.woff') format('woff');
}
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: normal;
  src: local('Abril Fatface'), url('assets/fonts/AbrilFatfaceRegular.woff') format('woff');
}


:root {
  /* Font */
  --ff-title : 'Roboto Mono';
  --ff-subtitle : 'Roboto Mono';
  --ff-caption : 'Roboto Mono';
  --ff-text : 'IBM Plex Sans';
  --ff-link : 'Roboto Mono';
  
  /* Colors */
  --c-background-shadow: #000000b3;
  --c-background:#141414;
  --c-background-65:#141414;
  --c-border:#f0f0f0 ;
  --c-text:#f0f0f0;
  --c-text-50:#f0f0f080;
  --c-highlight:#f0f0f0;
  --c-highlight-50:#f0f0f0;
  --c-caption: #f0f0f0;
  
  /* Sizes */
  --fs-xxs: 11px;
  --fs-xs: 13px;
  --fs-s: 15px;
  --fs-m: 18px;
  --fs-l: 21px;
  --fs-xl: 32px;
  --fs-xxl: 56px;
  --w-hamburger: 30px;
  --h-navbar: 100px;
  --h-navbar-scroll: 70px;
  --h-nav-config: 21px;

  /* Timing */
  --t-very-slow: 500ms;
  --t-slow: 350ms;
  --t-normal: 250ms;
  --t-fast: 150ms;

  /* SVG */
  --svg-select : url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23f0f0f0%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M2 5l6 6 6-6%27/%3e%3c/svg%3e");

  /* Resume */
  --cv-c-background: #f7f7f7;
  --cv-c-highlight: #1a1a1a;
  --cv-c-caption: #808080;
  --cv-c-text: #1a1a1a;
  --cv-ff-title : 'Abril Fatface';
  --cv-ff-subtitle : 'Roboto Mono';
  --cv-ff-caption : 'Roboto Mono';
  --cv-ff-text : 'IBM Plex Sans';
  --cv-fs-header : 13mm;
  --cv-fs-title : 7mm;
  --cv-fs-subtitle : 5mm;
  --cv-fs-caption : 4mm;
  --cv-fs-text : 3mm;
}

/* ------------------ BODY ------------------ */
body {
  margin: 0px;
  background-color: var(--c-background);
  color: var(--c-text);
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: var(--ff-text);
  font-size: var(--fs-m);
  line-height: 1.3;
  
  -webkit-ff-smoothing: antialiased;
  -moz-ff-smoothing: grayscale;
}
.content {
  display: flex;
  flex-direction: column;
}

main.body{
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: var(--h-navbar);
}

main.body h2.page-title{
  text-align: center;
  font-size: var(--fs-xl);
  font-family: var(--ff-title);
  font-weight: bold;
  color: var(--c-text);
}
main.body h3.page-subtitle{
  text-align: center;
  font-size: var(--fs-s);
  font-family: var(--ff-caption);
  color: var(--c-highlight);
  padding-bottom: 50px;
}

a {
  text-decoration:none
}

section {
  transition: opacity var(--t-very-slow) cubic-bezier(0.645, 0.045, 0.355, 1) var(--t-normal), transform var(--t-very-slow) cubic-bezier(0.645, 0.045, 0.355, 1) var(--t-normal);
}

button {
  background: transparent;
  border : solid 1px var(--c-border);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--c-highlight);
  font-family: var(--ff-link);
  font-size: var(--fs-m);
  transition-duration: var(--t-slow);
}

button:hover {
  background-color: var(--c-highlight-50);
  color : var(--c-background);
  transition-duration: var(--t-slow);
}

.link {
  display: inline-block;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: var(--c-highlight);
  text-decoration: none;
  color: var(--c-highlight);
  border: solid 1px var(--c-border);
  border-radius: 4px;
  padding-top:12px; 
  padding-bottom:12px; 
  padding-left:16px; 
  padding-right:16px; 
  position: relative;
  margin-bottom: 20px;
  transition-duration: var(--t-slow);
}
.link:hover {
  background-color: var(--c-highlight-50);
  transition-duration: var(--t-slow);
  color : var(--c-background);
}

.slow-appear {

}

/* ------------------ NAVBAR ------------------ */
header.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  z-index: 200;
  height: var(--h-navbar);
  padding-top: 0px;
  width: 100%;
  background-color: var(--c-background-65);
  -webkit-backdrop-filter : blur(10px);
  backdrop-filter: blur(10px);
  transition-duration: var(--t-normal);
}
header.hidden {
  height: var(--h-navbar-scroll);
  transform: translateY(calc(var(--h-navbar-scroll) * -1));
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin-left : 50px;
  margin-right : 50px;
  width: 100%;
  counter-reset: item 0;
  z-index: 12;
}
ol {
  display: flex;
  padding: 0px;
  margin: 0px;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  align-items: center;
  list-style-type: none;
  list-style-position: initial;
  list-style-image: initial;
}
ol li {
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  counter-increment: item 1;
  font-size: var(--fs-xs);
  font-family: var(--ff-link);
  display: list-item;
  text-align: -webkit-match-parent;
}
ol li a {
  padding: 10px;
  color: var(--c-text);
}
ol li a::before {
  content: "0" counter(item) ".";
  margin-right: 5px;
  color: var(--c-highlight);
  text-align: right;
  transition-duration: var(--t-slow);
}
ol li a:hover {
  color: var(--c-highlight);
  transition-duration: var(--t-slow);
}
.nav-list {
  display: flex;
  align-items: center;
}
.logo a {
  display: flex;
  color: var(--c-highlight);
  text-decoration: none;
}

.nav-config {
  display: flex;
  flex-direction: row;
  justify-content: right;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  padding-right: 50px;
  padding-top: 5px;
  height: var(--h-nav-config);
}

.nav-config select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  background-image: var(--svg-select);
  background-size: 16px 12px;
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
  color: var(--c-highlight);
  font-family: inherit;
  border: none;
  padding-bottom: 0;
  padding-top: 0;
}

.menu {
  display: block;
}
.menu button {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;

  position: relative;
  z-index: 10;
  margin-right: -15px;
  padding: 15px;
  border: 0px;
  background-color: transparent;
  color: inherit;
  text-transform: none;
  transition-timing-function: linear;
  transition-duration: var(--t-fast);
  transition-property: opacity, filter;
}
.ham-box {
  display: inline-block;
  position: relative;
  width: var(--w-hamburger);
  height: 24px;
}
.ham-box-inner {
  position: absolute;
  top: 50%;
  right: 0px;
  width: var(--w-hamburger);
  height: 2px;
  border-radius: 4px;
  background-color: var(--c-highlight);
  transition: transform var(--t-normal) cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transform: rotate(0deg);
}
.ham-box-inner::after, .ham-box-inner::before{
  content: "";
  display: block;
  position: absolute;
  left: auto;
  right: 0px;
  width: var(--w-hamburger);
  height: 2px;
  border-radius: 4px;
  background-color: var(--c-highlight);
  transition-timing-function: ease;
  transition-duration: var(--t-fast);
  transition-property: transform;
}
.ham-box-inner::before {
  width: 120%;
  top: -10px;
  opacity: 1;
  transition: top var(--t-fast) ease-in var(--t-normal),opacity var(--t-fast) ease-in;
}
.ham-box-inner::after {
  width: 80%;
  top: 10px;
  opacity: 1;
  transition: bottom var(--t-fast) ease-in var(--t-normal), transform var(--t-normal) cubic-bezier(0.55,0.055,0.675,0.19);
}
.ham-box-inner.opened {
  position: absolute;
  top: 50%;
  right: 0px;
  width: var(--w-hamburger);
  height: 2px;
  border-radius: 4px;
  background-color: var(--c-highlight);
  transition: transform var(--t-normal) cubic-bezier(0.215, 0.61, 0.355, 1) var(--t-fast);
  transform: rotate(225deg);
}
.ham-box-inner.opened::before {
  width: 100%;
  top: 0px;
  opacity: 0;
  transition: top var(--t-fast) ease-out,opacity var(--t-fast) ease-out var(--t-fast);
}
.ham-box-inner.opened::after {
  width: 100%;
  bottom: 0px;
  top:0px;
  transform: rotate(-90deg);
  transition: bottom var(--t-fast) ease-out,transform var(--t-normal) cubic-bezier(0.215,0.61,0.355,1) var(--t-fast);
}

.aside-menu {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 50px 10px;
  width: min(75vw, 400px);
  height: 100vh;
  outline: 0px;
  background-color: var(--c-background-65);
  box-shadow: -10px 0px 30px -15px var(--c-background-shadow);
  z-index: 9;
  transform: translateX(100vw);
  visibility: hidden;
  transition: all var(--t-normal) cubic-bezier(0.645,0.045,0.355,1);
}

.aside-menu.opened {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 50px 10px;
  width: min(75vw, 400px);
  height: 100vh;
  outline: 0px;
  background-color: var(--c-background);
  box-shadow: -10px 0px 30px -15px var(--c-background-shadow);
  z-index: 9;
  transform: translateX(0vw);
  visibility: visible;
  transition: all var(--t-normal) cubic-bezier(0.645,0.045,0.355,1);
}
.aside-menu nav {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  text-align: center;
}
.aside-menu ol {
  display: inline;
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 100%;
}
.aside-menu ol li {
  position: relative;
  margin: 0px auto 40px;
  counter-increment: item 1;
  font-size: var(--fs-s);
}

.select-form {
  display: flex;
  margin-bottom: 24px;
}

.select {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 0;
  margin-right: 24px;
  justify-content: flex-end;
}
.select label {
  margin-left: 3px;
  padding-top: 3px;
  font-size: var(--fs-xs);
  color: var(--c-text);
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  background-image: var(--svg-select);
  background-size: 16px 12px;
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
  color: var(--c-highlight);
  font-family: inherit;
  border: solid 1px var(--c-border);
  padding-left: 10px;
  padding-right: 24px;
  padding-top: 2px;
  padding-bottom: 5px;
  min-width: 50px;
  max-width: 250px;
}

/* ------------------ HOME ------------------ */
div.intro h2 {
  margin-right: 0px;
  margin-left: 0px;
  font-weight: 600;
  color: var(--c-highlight);
  line-height: 1.1;
}

div.name h1 {
  margin-right: 0px;
  margin-left: 0px;
  font-weight: 600;
  font-size: var(--fs-xxl);
  font-family: var(--ff-title);
  font-weight: bold;
  color: var(--c-text);
  line-height: 1.1;
}
div.situation h3 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
  font-weight: 600;
  font-size: var(--fs-xl);
  font-family: var(--ff-title);
  font-weight: bold;
  color: var(--c-caption);
  line-height: 1.1;
}
div.presentation p {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
  font-family: var(--ff-text);
  color: var(--c-caption);
  line-height: 1.1;
}


/* ------------------ RESUME ------------------ */
.resume-wrapper{
  margin-top: 48px;
  display: flex;
  justify-content: center;
}
.resume {
  flex-grow: 0;
  flex-shrink: 0;
  width: 21cm;
  height: 29.7cm;
  padding: 1cm;
  border: solid 1px var(--c-border);
  background-color: var(--cv-c-background);
}
.resume .header {
  height: 3cm;
  margin-bottom: .7cm;
}

.resume .header h1 {
  font-size: var(--cv-fs-header);
  text-transform: uppercase;
  margin-top: 0.2cm;
  margin-bottom: 0.2cm;
  color: var(--cv-c-text);
  font-family: var(--cv-ff-title);
  font-weight: normal;
}
.resume .header .description {
  margin: 0cm;
  font-size: var(--cv-fs-caption);
  color: var(--cv-c-text);
  font-family: var(--cv-ff-subtitle);
  font-weight: normal;
}
.resume .header .contacts {
  margin: 0cm;
  font-size: var(--cv-fs-caption);
  color: var(--cv-c-text);
  font-family: var(--cv-ff-subtitle);
  font-weight: normal;
}

.resume .main {
  display: grid;
  grid-template-columns: 60% auto;
  gap : .5cm;
  height: 24cm;
  color: var(--cv-c-text);
  font-family: var(--cv-ff-text);
}

.resume table td {
  border-color: transparent;
  border-spacing: 0cm;
  vertical-align: top;
}

.resume .main .main-column {
  height: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  display: grid;
  justify-content: space-between;
}

.resume .main .side-column {
  height: 100%;
  display: grid;
  justify-content: space-between;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
}

.resume section {
  padding : .2cm;
}

.resume section h2 {
  margin : 0cm;
  margin-bottom: .3cm;
  font-size: var(--cv-fs-title);
  color: var(--cv-c-highlight);
  font-family: var(--cv-ff-title);
  text-transform: uppercase;
}

.resume section .content {
  display: block;
  font-family: var(--cv-ff-text);
}
.resume h3{
  font-size: var(--cv-fs-subtitle);
  font-family: var(--cv-ff-subtitle);
  margin: 0cm;
  margin-bottom: .15cm;
  text-transform: uppercase;
  color: var(--cv-c-text);
}

.resume h4.subtitle {
  font-size: var(--cv-fs-caption);
  font-family: var(--cv-ff-caption);
  margin: 0cm;
  padding-left: .2cm;   
  color: var(--cv-c-highlight);
}
.resume h4.caption {
  font-size: var(--cv-fs-caption);
  font-family: var(--cv-ff-caption);
  margin: 0cm;
  padding-left: .2cm;
  font-weight: normal;
  color: var(--cv-c-caption);
}

.resume .description {
  margin-top: .15cm;
  margin-bottom: .5cm;
}

.resume .article p {
  margin-top: 0cm;
  margin-bottom: 0cm;
  padding-left: .2cm;
  font-size: var(--cv-fs-text);
  color: var(--cv-c-text);
}

.resume .table table {
  padding-left: .2cm;
}
.resume .table .subtitle {
  width: 20%;
  text-align: right;
}
.resume .table .subtitle h4 {
  margin: 0cm;
  font-size: var(--cv-fs-text);
}
.resume .table p {
  margin: 0cm;
  font-size: var(--cv-fs-text);
}

/* ------------------ WORKS ------------------ */
.works h2 {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 40px;
  font-size: var(--fs-xl);
  font-family: var(--ff-title);
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}
.works h2::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 100%;
  height: 1px;
  margin-left: 20px;
  background-color: var(--c-text-50);
}
.works p {
  margin-bottom: 36px;
  font-size: var(--fs-m);
  font-family: var(--ff-text);
}
.works h3 {
  text-align: center;
  font-size: var(--fs-s);
  font-family: var(--ff-caption);
  color: var(--c-highlight);
  padding-bottom: 50px;
}
.works .cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 12px;
}

.works .card {
  padding: 24px;
  border: var(--c-border) solid 1px;
  border-radius : 4px;
  transition: all var(--t-normal) ease;
  transition: opacity var(--t-very-slow) cubic-bezier(0.645, 0.045, 0.355, 1) var(--t-normal), transform var(--t-very-slow) cubic-bezier(0.645, 0.045, 0.355, 1) var(--t-normal);
}

div.card:hover {
  transform: translateY(-12px);
  transition: all var(--t-normal) ease;
  cursor:default;
}

.works div.card a {
  text-decoration: none;
  color: inherit;
}
.works div.card header {
  padding-top: 12px;
  font-size: var(--fs-xl);
  color : var(--c-highlight);
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.works div.card main {
  margin-top: 24px;
  margin-bottom: 24px;
}
.works div.card main h3 {
  margin: 0;
  padding-bottom: 12px ;
  font-size: var(--fs-s);
  font-family: var(--ff-title);
  font-weight: bold;
}
.works div.card main p {
  margin: 0;
  margin-bottom: 24px;
  font-size: var(--fs-xs);
  font-family: var(--ff-text);
  color: var(--c-caption);
}
.works div.card main p a {
  text-decoration: underline;
  color: var(--c-highlight);
}
.works div.card footer {
  font-size: var(--fs-s);
  font-family: var(--ff-text);
  color: var(--c-caption);
  display: flex;
  justify-content: space-around;
}


/* ------------------ ABOUT ME ------------------ */
.me h2 {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 40px;
  font-size: var(--fs-xl);
  font-family: var(--ff-title);
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.me h2::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 100%;
  height: 1px;
  margin-left: 20px;
  background-color: var(--c-text-50);
}

.me h3 {
  font-family: var(--ff-subtitle);
  font-weight:normal;
  font-size: var(--fs-xs);
  color: var(--c-highlight);
  margin: 0;
  padding: 0;
}

.me h4 {
  font-family: var(--ff-subtitle);
  font-weight:bold;
  font-size: var(--fs-s);
  color: var(--c-text);
  margin: 0;
  padding: 0;
}

.me h4 span {
  font-family: var(--ff-subtitle);
  font-weight:normal;
  font-size: var(--fs-m);
  color: var(--c-highlight);
  margin: 0;
  padding: 0;
  margin-right: 24px;
}

.me h5 {
  font-family: var(--ff-caption);
  font-weight:normal;
  font-size: var(--fs-xs);
  color: var(--c-caption);
  margin: 0;
  padding: 0;
}

.me p {
  font-family: var(--ff-text);
  font-weight:normal;
  font-size: var(--fs-xs);
  color: var(--c-text);
  margin: 0;
  margin-top: 0;
  padding: 0;
}

.me .about-me {
  margin-bottom: 36px;
}
.me .about-me p {
  margin-top: 12px;
}

.me .educations .grid{
  display: grid;
  grid-template-columns: 20% auto;
  row-gap: 36px;
  margin-bottom: 36px;
}
.me .educations  h3 {
  text-align: right;
  margin-right: 24px;
}
.me .educations p {
  margin-top: 12px;
  margin-left: 24px;
}

.me .experiences .grid {
  display: grid;
  grid-template-columns: 20% auto;
  row-gap: 36px;
  margin-bottom: 36px;
}
.me .experiences h3 {
  text-align: right;
  margin-right: 24px;
}
.me .experiences p {
  margin-top: 12px;
  margin-left: 24px;
}
.me .experiences .description{
  margin-left: 24px;
  margin-top: 12px;
}
.me .experiences .description p{
  margin : 0;
}

.me .skills {
  margin-bottom: 36px;
}
.me .skills h3 {
  font-family: var(--ff-subtitle);
  font-weight:bold;
  font-size: var(--fs-s);
  color: var(--c-text);
  margin: 0;
  margin-bottom: 12px;
  margin-left: 48px;
  padding: 0;
}
.me .skills .grid{
  display: grid;
  grid-template-columns: 30% auto;
  row-gap: 12px;
  margin-bottom: 36px;
}
.me .skills .grid.ling{
  grid-template-columns: 30% auto 20% auto;
}
.me .skills h4 {
  font-family: var(--ff-subtitle);
  font-weight:normal;
  font-size: var(--fs-xs);
  color: var(--c-highlight);
  text-align: right;
  margin: 0;
  margin-right: 24px;
  padding: 0;
}
.me .skills p {
  margin-left: 24px;
}

.me .projects .grid {
  display: grid;
  grid-template-columns: 20% auto;
  row-gap: 36px;
  margin-bottom: 36px;
}
.me .projects h3 {
  text-align: right;
  margin-right: 24px;
}
.me .projects p {
  margin-top: 12px;
  margin-left: 24px;
}

.me .interests .grid {
  display: grid;
  grid-template-columns: 20% auto;
  row-gap: 36px;
  margin-bottom: 36px;
}
.me .interests h3 {
  text-align: right;
  margin-right: 24px;
}

.me .interests .description {
  margin-left: 24px;
  margin-top: 0;
}
.me .interests .description p{
  margin : 0;
}